# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfplan
terraform.tfplan.*

# Lambda deployment packages
*.zip

# AWS credentials
.aws/
aws-credentials
Architecture.jpeg

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local